:root {
    --Marine-blue: #02295a;
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
  
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}
  * {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}

body{
  background-color: var(--Magnolia);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.step-page{
  width: 940px;
  background-color: var(--White);
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgb(229, 229, 229);
  display: flex;
  padding: 1rem;
  position: relative;
}

.side-bar{
  background-image: url("images/assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  width: 420px;
  height: 568px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 15px;
}

.circle{
  width: 28px;
  height: 28px;
  border: 2px solid var(--White);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
  font-weight: 600;
  padding: 13px;
  font-size: 14px;
}

.active .circle {
  background-color: var(--Light-blue) !important;
  color: var(--Marine-blue) !important;
  border-color: var(--Light-blue) ;
}

.steps {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.steps div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.steps div p{
  text-transform: uppercase;
  color: var(--Light-gray);
  font-size: 10px;
}

.steps div h2{
  text-transform: uppercase;
  color: var(--White);
  font-size: 14px;
  font-weight: 700;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10%;
}

.header {
  padding-top: 2.5rem;
  line-height: 2.5rem;
}

.header .personal {
  color: var(--Marine-blue);
  font-size: 2.25rem;
  font-weight: 700;
}

.header .p-exp {
  color: var(--Cool-gray);
}

.nxt-btn {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  border: none;
  padding: 1rem 2rem;
  border-radius: 7px;
  background-color: var(--Marine-blue);
  color: white;
  cursor: pointer;
  align-self: flex-end;
}

.form{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  gap: 2rem;
  padding-block: 12px;
}

.form label{
  font-size: 0.875rem;
  color: #02295a;
}

.details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input{
  height:50px;
  width: 85%;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  padding: 20px 17px;
}

input, :after, :before {
  box-sizing: border-box;
  border: 2px solid #e5e7eb;
}

.controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55%;
  position: absolute;
  bottom: 0px;
}

/* Step 2 */

.plan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-block: 7%;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.plan {
  border: 2px solid var(--Light-gray);
  border-radius: 7px;
  width: 150px;
  height: 170px;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.plan-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.plan-info h3 {
  color: var(--Marine-blue);
}

.plan-info p {
  color: var(--Cool-gray);
}

.duration{
  background-color: var(--Magnolia);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 25px;
  justify-content: center;
}

.monthly,
.yearly {
  color: var(--Cool-gray);
  font-weight: 500;
}

.sw-active {
  color: var(--Marine-blue);
}


.prev-stp {
  border: none;
  font-weight: 600;
  background-color: transparent;
  border-radius: 7px;
  color: var(--Cool-gray);
  cursor: pointer;
}
